{:paths ["src"]
 :deps  {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
         slingshot/slingshot                 {:mvn/version "0.12.2"}
         environ/environ                     {:mvn/version "1.2.0"}
         org.flatland/ordered                {:mvn/version "1.15.10"}
         clj-http/clj-http                   {:mvn/version "3.12.3"}
         com.taoensso/timbre                 {:mvn/version "4.10.0"}
         clj-python/libpython-clj            {:mvn/version "2.020"}
         wing/wing                           {:mvn/version "0.1.4"}}}
